header {
  font-size: 1.5em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  background-color: #EFEFF1;
  border: none;
  color: $link-hover;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  a {
    text-decoration: none;
    &:link {
      color: $title-color;
    }
    &:visited {
      color: $title-color;
    }
    &:hover, &:active {
      color: $font-color;
    }
  }
}
