body {
  font-size: 10px;
  align: "center";
  color: #3a463d; }

div#container {
  width: auto;
  max-width: 1024px;
  margin: auto;
  font-size: 1.4em; }
  div#container span.italic {
    font-style: italic; }
    div#container span.italic code {
      font-size: 1em; }
  div#container h1, div#container h2, div#container h3 {
    font-family: "Vollkorn";
    color: #282a2a; }
  div#container h1.cv, div#container h2.cv {
    margin: 0.286em 0; }
  div#container header {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    background-color: #efeff1;
    border: none;
    width: 70%; }
    div#container header .page-title {
      color: #1b1e1e;
      text-align: center;
      margin-top: 0px;
      margin-bottom: 0px; }
      div#container header .page-title#h1-page-title {
        font-size: 1.8em; }
        div#container header .page-title#h1-page-title a:link, div#container header .page-title#h1-page-title a:visited {
          color: #1b1e1e;
          text-decoration: none; }
        div#container header .page-title#h1-page-title a:hover, div#container header .page-title#h1-page-title a:active {
          color: #1b1e1e;
          text-decoration: underline; }
        div#container header .page-title#h1-page-title#h2-page-title {
          font-size: 1.4em; }
  div#container #sidebar {
    float: right;
    width: 27%;
    margin-top: 28px; }
    div#container #sidebar ul {
      margin: 2.857em 0em 0em 0em;
      padding-left: 0;
      font-family: "Vollkorn";
      font-size: 1em;
      list-style: none; }
    div#container #sidebar .bitcoin {
      margin-top: 1.5em; }
  div#container #content {
    float: left;
    width: 70%; }
    div#container #content h1 {
      margin-top: 1.4em; }
    div#container #content table.key-value {
      width: 42em;
      border-radius: 0.36em;
      margin: 0em 0em 0em 0em; }
      div#container #content table.key-value tr {
        vertical-align: top; }
      div#container #content table.key-value th {
        text-align: left;
        width: 7.3em; }
    div#container #content li.cv {
      font-size: 1.286em; }
    div#container #content div.cv-container {
      border: solid 1px #efeff1;
      border-radius: 0.36em; }
    div#container #content .gist {
      width: 90%;
      margin-left: auto;
      margin-right: auto; }
      div#container #content .gist.gist .gist-data.gist-syntax {
        width: 100% !important; }
    div#container #content p {
      color: #3a463d;
      font-family: sans-serif;
      font-size: 1.4em; }
      div#container #content p.section-title {
        font-family: "Vollkorn";
        color: #282a2a;
        font-weight: 600;
        font-size: 1.4em; }
    div#container #content .code {
      overflow-x: scroll;
      background-color: #efeff1;
      width: 90%;
      margin-left: 5%;
      font-size: 1.2em;
      font-family: monospace;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px; }
    div#container #content code {
      font-size: 0.82em;
      font-family: monospace;
      background-color: #efeff1;
      width: inherit; }
    div#container #content h2 {
      margin-top: 1.5em; }
      div#container #content h2.sub {
        text-decoration: underline; }
    div#container #content pre {
      overflow-x: auto;
      background-color: #efeff1;
      font-family: monospace;
      font-size: 1.17em;
      margin-left: 5%;
      padding: 5px 10px;
      width: 90%; }
  div#container #footer {
    width: 70%;
    clear: both;
    padding: 2em 0 5em 0; }

table {
  margin-left: 5%;
  color: #3a463d;
  border-style: solid;
  border-width: 1px;
  border-color: #efeff1;
  font-size: 1.2em; }
  table td, table th {
    padding: 10px; }
  table tr.odd code {
    background-color: white; }
  table tr.even {
    background-color: #efeff1; }
  table tr td.even {
    border-style: solid;
    border-width: 1px; }

div#status-bar {
  width: 90%;
  font-size: 1em;
  margin: auto;
  background-color: #efeff1; }
  div#status-bar pre {
    margin-left: 0%;
    overflow-x: scroll;
    width: 100%; }

div#caveats-list {
  width: 90%;
  margin: auto;
  font-size: 1.2em;
  font-family: "Vollkorn";
  background-color: #efeff1; }
  div#caveats-list ul {
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px; }
    div#caveats-list ul li {
      padding-bottom: 7px; }

div#disqus_thread {
  display: block; }

ol {
  font-family: sans-serif;
  font-size: 1.3em; }

section h1 {
  font-size: 2em; }
