body {
    align: "center";
}

#h1-page-title {
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    background-color: black;
}

#h2-page-title {
    margin-bottom: 0px;
    margin-top: 0px;
}

.page-title{
    font-family: 'Unkempt';
    text-align: center;
}

ul {
    font-family: 'Open Sans';
    list-style: none;
}

p {
    color: gray;
    font-family: 'Quattrocento';
    font-size: 18px;
}

code {
    font-family: Monospace;
}

div#header {
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

div#sidebar {
    display: inline;
    float: right;
    width: 30%;
}

div#content {
    display: inline;
    width: 70%;
}

div#container {
    width: 800px;
    margin: auto;
}